.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  

.navy-btn{
  background-color: rgb(18, 18, 56);
  color: white !important;
}

// .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background,
// .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
//   opacity: 0.03 !important;
//   background-color: #005691!important;
// }

// .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: #005691;
// }