/* dashboard.component.scss */
.chart-container {
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  canvas{
    height: 500px !important;
  }