@media print {
    body {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
    
  
        @page {
          size: A4;
          margin: 20mm;
        }
  
        body {
          print-color-adjust: exact;
          -webkit-print-color-adjust: exact;
        }
  
        table {
          page-break-inside: avoid;
        }
  
        tr {
          page-break-inside: avoid;
          page-break-after: auto;
        }
      
  }
  