
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }
  
  .custom-select::-ms-expand {
    display: none;
  }
  
  select {
    min-width: 150px; 
  }
  
  input, select, button {
    height: 42px; 
  }

  @media print {

    #certificateContainer {
      page-break-inside: avoid;
    }
    @page {
      size: landscape;
    }
  }
 
  @page {
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .certificateContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .certificate-template {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .certificate-template img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .certificate-content {
    position: absolute;
    top: 58%;
    left: 68%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
  }
  .certificate-name {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
  }
  .certificate-text {
    font-size: 18px;
    color: #000;
    line-height: 1.5;
  }
