table {
    width: 100%;
  }.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 100vh;
    overflow: auto;
  }
  
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
