.textName{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #00000080;
    

}
label{
font-size: 18px;
font-weight: 500;
color: #0F1035;

line-height: 27px;
}